
<div class="comment">{ :id => "comment-#{comment.id}" }
  <hr />
  <%= link_to "x", comment_path(comment),
  :method => :delete,
  :remote => true,
  :confirm => "Are you sure you want to remove this comment?",
  :disable_with => "x",
  :class => 'close' %>
  <h4>
    <%= comment.user.fullname %>
    <small>
      <%= comment.updated_at %>
    </small>
  </h4>
  <p>
    <%= comment.body %>
  </p>
</div>